<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root to public/
    RewriteRule ^$ public/ [L]

    # Redirect all non-existing files to public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
